<h2>Admin Panel</h2>
<div class="vh-100 gradient-custom">
  <div class="container py-2 h-25">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-4 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white bg-primary mb-3" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">
            <div class="d-grid mb-3">
              <a routerLink="/admin/user-management" class="btn btn-outline-primary py-2">
                Go to User Management
              </a>
            </div>
            <div class="d-grid mb-3">
              <a routerLink="/admin/photo-management" class="btn btn-outline-primary py-2">
               Go to Photo Management
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>